*
{
    margin: 0px;
    padding: 0px;
}

/*Son estilos de la presentación*/
#fondoBienvenida
{
    background-image: url(../IMAGENES/Central/imagenCentral.png);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Estilos de card generales*/
.cardGenerales
{
    border: none;
    background-color: transparent;
    padding: 1em;
    margin: none;
    color: white;
}

main
{
    background-color: #2f2f2f ;
}

/*Estilos de los Productos*/
.titulo-productos
{
    text-align: center;
    color: white;
    background-color: #2f2f2f;
    padding: 10px;
}

.contenedor-productos
{
    width: 100%;
    background-color: black;
    display: flex;
    color: whitesmoke;
    flex-direction: row;
}

.contenedor-invertido
{
    flex-direction: row-reverse;
}

.image-producto
{
    width: 50%;
}

.items-productos
{
    padding: 10px;
    margin: auto;
    width: 50%;
}

.colorClaro
{
    color: #d5ac8c;
}

.colorOscuro
{
    color: #2f2f2f;
}

.boton
{
    color: #d5ac8c;
    border-color: #d5ac8c;
    width: 40%;
}

.boton:hover
{
    color: #d5ac8c;
    border-color: #d5ac8c;
    width: 40%;
    background-color: #2f2f2f ;
}

/*Producto Maizenea*/
.mensaje
{
    width: 50%;
    text-align: left;
    margin: auto 0;
}

.boton
{
    color: #d5ac8c;
    border-color: #d5ac8c;
    width: 40%;
}

.boton:hover
{
    color: #d5ac8c;
    border-color: #d5ac8c;
    width: 40%;
    background-color: #2f2f2f ;
}

.botonMaizena
{
    color: #2f2f2f;
}

.botonMaizena:hover
{
    background-color: black;
    color: #d5ac8c;
}

/*Iconos de mensaje de calidad*/
/*Iconos*/
.icono img
{
    width: 50%;
}

/*Seccion de Formulario*/
.contenedor-formulario
{
    background-color: whitesmoke;
    color: #735d4c;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.imagen-formulario
{
    width: 50%;
}

.item-formulario
{
    padding: 10px;
    margin: auto;
    width: 50%;
}

.formulario
{
    margin: 20px;
}

.fondo-input
{
    color: white;
    background-color: #735d4c;
}

.botonFormulario
{
    color: #6b5747;
    border-color: #6b5747;
    font-weight: bolder;
}

.botonFormulario:hover
{
    color: white;
    background-color: #735d4c;
}

/*Estilos de Recetas*/
.tarjeta-receta
{
    border: none;
    background-color: #C19A6B ;
}

.titulo-receta
{
    color: #735d4c;
    font-size: xx-large;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

.boton-receta
{
    font-weight: bold;
    color: #624f41;
    border-color: #624f41;
    text-transform: uppercase;
}
.boton-receta:hover
{
    color: whitesmoke;
    background-color: #624f41 ;
}

/*Media query*/
@media screen and (min-width:375px) and (max-width:940px) 
{
    .cardGenerales
    {
        color: black;
    }
    /*Estilos de los productos*/
    .contenedor-productos
    {
        flex-direction: column;
    }

    .image-producto
    {
        width: 100%;
    }

    .items-productos
    {
        margin: auto;
        width: 100%;
    }

    .mensaje h5
    {
        font-size: smaller;
    }

    .mensaje
    {
        text-align: center;
        font-size: xx-small;
    }

    .botonMaizena
    {
        font-size: xx-small;
        padding: 2px;
    }

    .contenedor-formulario
    {
        flex-direction: column;
    }

    .imagen-formulario
    {
        display: none;
    }

    .item-formulario
    {
        width: 80%;
    }

    .formulario
    {
        text-align: center;
    }
}

@media screen and (min-width:941px) and (max-width:1300px) 
{
    #fondoBienvenida
    {
        height: 100%;

    }
    #contenedorBienvenida
    {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    }
    .contenedorTexto
    {
        margin: 4rem;
    }

    

}

@media screen and (min-width:1301px) 
{
    #contenedorBienvenida
    {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    }

    .contenedorTexto
    {
        margin: 2rem;
    }
}